<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- Audio Permission for android 13 or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> <!-- &lt;!&ndash; Permissions of internet &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!-- Notification -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- Notification Permission for Android 14 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/music_player_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/music_player_icon_round"
        android:supportsRtl="true"
        android:theme="@style/splash_screen"
        tools:ignore="AllowBackup">
<!--        <activity-->
<!--            android:name=".activity.SearchActivity"-->
<!--            android:configChanges="uiMode|orientation"-->
<!--            android:screenOrientation="sensorPortrait"-->
<!--            android:exported="false"-->
<!--            tools:ignore="DiscouragedApi,LockedOrientationActivity" />-->
        <activity
            android:name=".activity.DownloadActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UploadActivity"
            android:exported="true" />
        <activity
            android:name=".onprg.PlayNext"
            android:exported="false" />
        <activity
            android:name=".onprg.AboutActivity"
            android:configChanges="uiMode|orientation"
            android:screenOrientation="sensorPortrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".onprg.SettingsActivity"
            android:configChanges="uiMode|orientation"
            android:screenOrientation="sensorPortrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".SelectionActivity"
            android:configChanges="uiMode|orientation"
            android:screenOrientation="sensorPortrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".onprg.PlaylistDetails"
            android:configChanges="uiMode|orientation"
            android:screenOrientation="sensorPortrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".onprg.PlaylistActivity"
            android:configChanges="uiMode|orientation"
            android:screenOrientation="sensorPortrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activity.FavouriteActivity"
            android:configChanges="uiMode|orientation"
            android:screenOrientation="sensorPortrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activity.PlayerActivity"
            android:configChanges="uiMode|orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="audio/*"
                    android:scheme="content" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="uiMode|orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" /> <!-- Updated Permission for Android 14 -->
        <service
            android:name=".service.MusicService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <receiver
            android:name=".receiver.NotificationReceiver"
            android:enabled="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>

